<!DOCTYPE html>
<html>
<head>
  <title>Flixter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
   <link href="http://vjs.zencdn.net/4.6/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/4.6/video.js"></script>
  <style>
    .video-js {padding-top: 56.25%}
    .vjs-fullscreen {padding-top: 0px}
  </style>
</head>
<body>
 <header>
   <nav class= "links">
    <div class="col-xs-3">
        <%= link_to 'Flixter', root_path, :class => 'navbar-brand' %>
    </div>
    <div class= "linksab">
      <div class="col-xs-7">
        <%= link_to 'See all Courses', courses_path %>
      </div>
      <div class="col-xs-2">
                  <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>
            <li><%= link_to 'My Dashboard', dashboard_path %></li>

          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Log in", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
        </div>
      </div>
    </nav>

    <header>   
      <hr />  
      <br class="clear" />
      <div class="container">
        <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
      <br class="clr" />
      <div class="footer">
        <div class="container">
          <div class="col-xs-3">
            <b>Teachers</b>
            <br />
            <%= link_to 'Teach a Course',new_instructor_course_path %>
            <br />
            <%= link_to 'View Dashboard', dashboard_path %>
          </div>
          <div class="col-xs-3">
            <b>About</b>
            <br />
            <%= link_to 'Team', '#'%>
            <br />
            <%= link_to 'Careers', '#' %>
            <br />
            <%= link_to 'Privacy Policy', privacy_path %>
          </div>
          <div class="col-xs-3 wrap">
            <b>Contact</b>
            <br />
            <%= link_to 'ken@theFirehoseProject', '#'%>
            <br />
            <%= link_to 'Cambridge, MA', '#' %>
          </div>
          <div class="col-xs-3 spcial">
            <span id="social"><b>Social</b></span>
            <br />
           <%= link_to 'https://www.facebook.com/theFirehoseProject' do %>
            <%= image_tag 'facebook.png' %>
            <%end%>
            <%= link_to 'https://twitter.com/firehoseproject' do %>
            <%= image_tag 'twitter.png' %>
             <%end%>
             <%=link_to 'https://www.linkedin.com/company/thefirehoseproject' do %>
            <%= image_tag 'linkedin.png' %>
            <%end%>
          </div>

        </div>
      </div>
    </div>
  </div>

</body>
</html>
