<!DOCTYPE html>
<html>
<head>
  <title>Flixter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<header>
  <nav class= "links">

    <div class="col-xs-3">
      <a class="navbar-brand" href="#">Flixter</a>
    </div>
    <div class= "linksab">
    <div class="col-xs-7">
      <%= link_to 'See all Courses', '#' %>
    </div>
     
    <div class="col-xs-2">
      <%= link_to 'Log in', '#' %>
    </div>

    </div>
   
</nav>

<header>   
<hr />  
 <br class="clear" />


<%= yield %>

</body>
</html>
